<div class="container-fluid p-5 mb-4 bg-image position-relative vertical-center" style="background-image: url('/src/public/images/indexbg.jpg'); height: 100vh; background-size:cover;">
    <div class="container-fluid text-white col-md-offset-1 col-md-10"> 
        <p class="text-center">SELAMAT DATANG DI WEBSITE OFFICIAL</p>
      <h1 class="display-5 fw-bold text-center">SANTANI (SANTRI TANI)<br>NAGARAPAGEUH</h1>
      <p class="text-center">#PAGEUHPAGEUHPAGEUH</p>
    </div>
  </div>

<div class="container-fluid p-5 mb-4 rounded-3">
    <div class="row">
        <div class="col-md-5">
            <div class="row">
                <div class="container-fluid col-md-offset-2 col-md-8">
                    <img src="/src/public/images/Logo(sementara).png" alt="logo" class="img-fluid mx-auto d-block">
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <h1 class="display-5 fw-bold text-success mb-4">Tentang Santri Tani</h1>
            <p class="fs-5">Santri Tani (Santani) adalah usaha mikro kecil menengah (UMKM) yang berlokasi di Desa Nagarapageuh, berkomitmen untuk memberdayakan masyarakat desa melalui pertanian yang berkelanjutan dan berkualitas. Sebagai bagian dari komunitas pesantren, kami memadukan nilai-nilai keagamaan dengan praktik pertanian modern, menghasilkan produk-produk yang sehat, alami, dan berkualitas tinggi.</p>
            <button type="button" class="btn btn-success"><a href="#about" class="text-white link-underline link-underline-opacity-0">Lihat Selengkapnya</a></button>
        </div>
</div>

<!-- <div class="row bg-success rounded-3 d-flex align-items-center justify-content-center mt-5 p-5 text-white">
    <div class="col-md-offset-1 col-md-10">
        <div class="row">
            <h1 class="text-center mb-5">Pencapaian Kami</h1>
            

        </div>
    </div>
</div> -->

<div class="container-fluid p-5 mb-4 rounded-3">
    <div class="row">
        <h1 class="display-5 fw-bold text-success mb-4 text-center">Dokumentasi</h1>
    </div>
    <div class="row d-flex align-items-center justify-content-center mt-2">
        <hr class="border border-secondary border-3 opacity-75" style="width: 30%;">
    </div>
    <div class="row d-flex align-items-center justify-content-center">
        <div class="col-md-offset-4 col-md-4">
            <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="/src/public/images/carousel1.jpg" class="d-block w-100" alt="gambar1">
                  </div>
                  <div class="carousel-item">
                    <img src="/src/public/images/carousel2.jpg" class="d-block w-100" alt="gambar2">
                  </div>
                  <div class="carousel-item">
                    <img src="/src/public/images/carousel3.JPG" class="d-block w-100" alt="gambar3">
                  </div>
                  <div class="carousel-item">
                    <img src="/src/public/images/carousel4.JPG" class="d-block w-100" alt="gambar4">
                  </div>
                  <div class="carousel-item">
                    <img src="/src/public/images/carousel5.JPG" class="d-block w-100" alt="gambar5">
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
              </div>
        </div>
    </div>
</div>

<div class="row d-flex align-items-center justify-content-center mt-2">
    <hr class="border border-secondary border-1 opacity-25" style="width: 80%;">
</div>